@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@property --site-first-color {
  inherits: false;
  initial-value: #142461;
  syntax: "<color>";
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Poppins, sans-serif;
}

a { text-decoration: none; }

footer {
    font-size: 11pt;
    width: 100%;
}

main { min-height: 70vh; }

.text-bg-1 {
    background-color: var(--site-first-color);
    color: white;
}

/* Size classes */

.w-fit {
    width: fit-content;
}

.w-10rem {
    width: 10rem;
}

.w-18rem {
    width: 18rem;
}

.w-30rem {
    width: 30rem;
}

.w-40rem {
    width: 40rem;
}

.max-w-30rem {
    max-width: 30rem;
}

.max-w-40rem {
    max-width: 40rem;
}

.max-w-90 {
    max-width: 90%;
}

.max-w-100 {
    max-width: 100%;
}

